{
    "plugins": ["macros"],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": true
                }
            }
        ]
    ],
    "comments": false,
    "ignore": ["src/**/*.test.js", "src/**/__tests__", "src/**/__snapshots__"]
}
