{
    "*.{md,mdx}": [
        "npm run doctoc .",
    ],
    "*.{js,jsx}": [
        "npm run eslint --"
    ],
    "*.{js,jsx,css,scss,html,json,md,mdx}": [
        "npm run prettier --",
        "git add"
    ]
}